# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C Extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
egg-info/
lib/
lib64/
share/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Pytest
.cache

# PyCharm
.idea/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/
